@import "./modules/_nullstyle";
// @import "../../node_modules/bootstrap/scss/bootstrap";

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

section {
  padding: 15px;
  margin-bottom: 75px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 16px;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px;
}
/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._title {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 200%;
  color: #000000;
  margin-bottom: 30px;
}

._link {
  color: black;
  transition: 0.3s;
  font-size: 18px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: black;
    transition: width 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  width: 100%;
}

.header__menu {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__logo {
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    & span{
      color: #939393;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
  }

  &__link {
    font-size: 24px;
    padding: 5px 10px;
    transition: 0.4s;
  }
}

.btn-posnaware {
  font-size: 18px;
  line-height: 27px;
  border: 2px solid #263238;
  background-color: transparent;
  color: black;
  border-radius: 5px;
  padding: 12px 40px;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 180px;
  text-align: center;

  &:hover {
    color: #eee;
  }

  &:active {
    background-color: #f5f5f5;
    color: black;
  }

  & span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #263238;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover span {
    width: 225%;
    height: 562.5px;
  }
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 900px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 22px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu__icon::after {
    width: 80%;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: #000000;
  }

  .menu__list {
    flex-direction: column;
    gap: 30px 20px;
  }

  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 35px;
  }
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.home__container {
  padding-top: 115px;
  display: flex;
  justify-content: center;

  gap: 60px 60px;
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
}

.home {
  &__title {
    max-width: 386px;
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    color: #000000;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 632px;
    font-size: 24px;
    line-height: 36px;
    color: #8f95a5;
    margin-bottom: 60px;
  }

  &__button {
    padding: 15px 55px;
    font-size: 32px;
    line-height: 150%;
    color: #ffffff;
    background: #263238;
    border-radius: 15px;
    border: 2px solid #263238;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:hover {
      color: #3498db;
    }

    &::after {
      content: "";
      background: #ecf0f1;
      position: absolute;
      z-index: -1;
      padding: 15px 55px;
      display: block;
    }

    &::after {
      transition: all 0.4s ease;
    }

    &:hover::after {
      transition: all 0.4s ease-out;
    }

    &::after {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: scale(0, 0);
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }

  &__image {
    max-width: 680px;
    & img {
      width: 100%;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Skill---------------------------------------------------*/
/*-------------------------------------------------------------*/

.skills {
  &__list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "speaking writing reading"
      "speaking listening listening";
    @media (max-width: 575px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px 30px;
      grid-template-areas:
        "speaking writing"
        "reading listening";
    }
  }
  &__item {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 0px 15px 30px 15px;
  }
  &__speaking {
    grid-area: speaking;
    padding: 35px 15px 30px 15px;
    max-width: 435px;
    & .skill__wrapper-image {
      max-width: 390px;
    }
  }
  &__writing {
    grid-area: writing;
    max-width: 435px;
    & .skill__wrapper-image {
      margin: 0 0 0 auto;
      max-width: 293px;
    }
  }
  &__reading {
    grid-area: reading;
    max-width: 435px;
    & .skill__wrapper-image {
      max-width: 371px;
    }
  }
  &__listening {
    grid-area: listening;
    display: flex;
    justify-content: space-between;
    & .skill__content {
      max-width: 328px;
    }
    & .skill__wrapper-image {
      flex-grow: 1;
      max-width: 382px;
    }
  }
}

.skill {
  &__image {
    width: 100%;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #263238;
  }
  &__paragraph {
    font-size: 14px;
    line-height: 150%;
    color: #8f95a5;
    margin-bottom: 15px;
  }
  &__button {
    padding: 14px 40px;
    background: #263238;
    border: 2px solid #263238;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    transition: 0.4s;
    &:hover {
      color: #263238;
      background-color: #ffffff;
      border: 2px solid #263238;
    }
  }
}

/*-------------------------------------------------------------*/
/*-----About---------------------------------------------------*/
/*-------------------------------------------------------------*/
.about__container {
  display: flex;
  gap: 50px 50px;
}
._container {
}
.about__info {
  max-width: 600px;
}
.about__title {
  margin: 0;
  text-align: left;
  margin-bottom: 25px;
}

.about__paragrapgh {
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
  margin-bottom: 20px;
}
.about__list {
  display: flex;
  justify-content: space-between;
  gap: 60px 60px;
}
.about__stat {
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat__number {
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  color: #2a3246;
}
.stat__title {
  font-size: 20px;
  line-height: 150%;
  color: #8f95a5;
}
.about__image {
  max-width: 500px;
  & img {
    width: 100%;
  }
}
/*-------------------------------------------------------------*/
/*-----Pricing-------------------------------------------------*/
/*-------------------------------------------------------------*/
.pricing {
  &__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 60px 60px;
  }
}

.pricing__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 33%;
  height: 100%;
}
.tariff {
  & > * {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__image {
  }
  .tariff__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    color: #263238;
    text-align: center;
  }
  .tariff__paragraph {
    font-size: 20px;
    line-height: 150%;
    color: #8f95a5;
  }
  .tariff__price {
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 150%;
    color: #263238;
    transition: 0.5s;
    cursor: pointer;
    & span {
      font-size: 18px;
      line-height: 27px;
      color: #546269;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

/*-------------------------------------------------------------*/
/*-----Contact-------------------------------------------------*/
/*-------------------------------------------------------------*/
.contact__container {
  display: flex;
  gap: 50px 50px;
}
._container {
}
.contact__info {
  max-width: 600px;
}
.contact__title {
  margin: 0;
  text-align: left;
  margin-bottom: 25px;
}

.contact__paragrapgh {
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
  margin-bottom: 20px;
}

.contact__image {
  max-width: 500px;
  & img {
    width: 100%;
  }
}

.contact__form {
  display: flex;
  gap: 40px 10px;
}
.contact__input {
  border: 1px solid #8f95a5;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
}

.contact__button {
  display: block;
  min-width: 160px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  background: #263238;
  border-radius: 10px;
  border: 2px solid #263238;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:hover {
    color: #3498db;
  }

  &::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 20px 50px;
    display: block;
  }

  &::after {
    transition: all 0.3s ease;
  }
  &:hover::after {
    transition: all 0.3s ease-out;
  }

  &::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
  }

  &:hover::after {
    transform: skewX(-45deg) scale(1, 1);
  }
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer__container {
  border-top: 2px solid #c4c4c4;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px 40px;
  padding: 30px 0px;
}

.footer__logo {
  font-size: 36px;
  line-height: 150%;
  color: #000000;
  & span {
    color: #939393;
  }
}
.foooter__info {
  font-size: 24px;
  line-height: 150%;
  color: #8f95a5;
}
